@tailwind base;
@tailwind components;
@tailwind utilities;

input,textarea {
  border: 1px solid #000; /* Add a 1px solid gray border */
  padding: 0.5rem 0.7rem; /* Add some padding inside the input */
  border-radius: 8px; /* Add rounded corners */
}
input::placeholder,textarea::placeholder { 
 align-items: center;
 justify-content: center;
  color: #000;
  font-size: 0.8rem;
}
.custom-radio input[type="radio"] {
  transform: scale(1.5);
  color: #000;  /* Increase size by 150% */
}
.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.sw1 .swiper_container {
  padding: 2rem 0;
  max-width: 100vw;
  position: relative;
}

.sw1 .swiper-slide {
  width: 20vw;
  position: relative;
}

@media (max-width: 500px) {
  .sw1 .swiper-slide {
    width: 37vw !important;
  }
  .sw1 .swiper-slide img {
    width: 30rem !important;
  }
}
@media (min-width: 500px) and (max-width: 1400px) {
  .sw1 .swiper-slide {
    width: 25vw;
  }
}


.sw1 .swiper-slide img {
  width: 35rem;
  object-fit: cover;
}

.sw1 .swiper-slide-shadow-left,
.sw1 .swiper-slide-shadow-right {
  display: none;
}


.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
.back{
  background-image: url('https://s3-alpha-sig.figma.com/img/008c/6e8f/df18bd93dae25349c5b127db94e118c9?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pmwHG16hp8BBeh5ybqxZoYZCF9b4fDzeDfekGLpTyqNVTLqBz9tJ9NLr7jFFnFzSj1tmHANroLOrgva0dbcS~5GQtX~RJtLNX8Kdqo5CBSLQk5p7U6WH6gB3vvA4nBJVX1hj1I9HE-O~ia66RWDbiSVzHIYxBrTHpukBfwITXM~GZhqLAnUOvowta2EvmFg4vSQnLwYrk2X8IWO0gMPZ7v3cW07N~0iwlgryhaiLcFVSfnIqKNi8ZVDx14nWo0Fdj8JLwtsBvWiib5C~93xglF2PIKlxy9HvBMCdkt1x6dBXB-U2HyVOZqna51oMvZTY0-s6Ei9vxfIfUrlhMoyqBw__');
}
.dec{
  background-image: url('https://s3-alpha-sig.figma.com/img/008c/6e8f/df18bd93dae25349c5b127db94e118c9?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pmwHG16hp8BBeh5ybqxZoYZCF9b4fDzeDfekGLpTyqNVTLqBz9tJ9NLr7jFFnFzSj1tmHANroLOrgva0dbcS~5GQtX~RJtLNX8Kdqo5CBSLQk5p7U6WH6gB3vvA4nBJVX1hj1I9HE-O~ia66RWDbiSVzHIYxBrTHpukBfwITXM~GZhqLAnUOvowta2EvmFg4vSQnLwYrk2X8IWO0gMPZ7v3cW07N~0iwlgryhaiLcFVSfnIqKNi8ZVDx14nWo0Fdj8JLwtsBvWiib5C~93xglF2PIKlxy9HvBMCdkt1x6dBXB-U2HyVOZqna51oMvZTY0-s6Ei9vxfIfUrlhMoyqBw__');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.ms .swiper {
  width: 100%;
  height: 100%;
}

.ms .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper
{
  margin: 30px 0px;
}
.home{
background: rgba(255, 255, 255, 0.15);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(14.1px);
border: 1px solid rgba(255, 255, 255, 0.4);}

.event{
  background-image: url('https://s3-alpha-sig.figma.com/img/1cd7/f4dc/9ab46b29cc668c7f4e50b65efdb52bd2?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=o0crmQPt9uL0ZTxKjXhzyemymy5kxqqNva1yOimUDBO2gfDMEnBGmnk81r~fTApreOI3MqUPoPAgCe3FIT1LopcJOG8EF3VDoB2rtWE8Cq-F4y4Hd0qZEKJZVOMCsGpwNuBtbTBA9V4EIKdj32ruPM1fJW1hypUMy9cx9FMjbbb2l9Ebts6OQEOVDkXU~-pc9Ky0Iba-YJIVGqvu~rCmIRrd9JqTZ~VYIHi2NSgWy2MhCoYUHBPAlAgtn9cbJ3KksGUe7Is-rag9vV3TGBG0Pktd40zUSjs~FGGc3OW9vR33gp0J4-T6VVGytBCJBOvTMyjEE~yqU5RT9tYbh96thw__');  background-repeat: no-repeat;
  background-size: cover;
}
body{
  overflow-x:hidden;
}.swiper-button-prev,
.swiper-button-next {
  /* Adjust these properties to your preference */
  background-color: #D9D9D957; /* Set background color */
  font-size: 5px !important;
  width:60px !important; /* Increase or decrease arrow size */
  color: white !important;
  padding: 30px;
 /* Add padding around the arrow */
}
.swiper-button-next{
  margin-right:-10px!important;
}
.swiper-button-prev{
  margin-left:-10px!important;
}
